/* BASE VARIABLES
 *******************/

/* Sizes */
$width: 80%;
$width-outer: $width;

/* Colors */
$text: #29292B;
$links: #449b94;
$hover: #b5dbcb;
$notwhite: #ECECEA;

$bg: #ECECEA;
$rpm: #1C7DC0;
/* Fonts */
$main: "Lato", sans-serif;
$headings: "Oswald", sans-serif;

/* Borders */
$border: 1px solid #000;