
.bookPage{
	h1{
		font-size: 40px;
		color: $links;
		padding: 30px 20px 0 20px;
	}
	p{
		font-size: 18px;
		padding: 0 20px;	
	}
}
.map{
	iframe{
		width: 48%;
		float: left;
		margin-left: 2%;
	}
	p{
		width: 50%;
		float: left;
		padding:0 2%;
		font-size: 20px;
	}
}

.directions{
	padding-bottom: 50px;
	h4{
		color: $links;
		font-family: $headings;	
		padding: 30px 20px 0 20px;
		font-size: 30px;
		font-weight: 300;	
	}
}


