.pagination{
	font-family: $headings;
	text-transform: lowercase;
	font-size: 30px;
	font-weight: 300;
	a{
		color: $rpm;
		&:hover{
			color: $hover;
		}
	}
	.nav-previous{
		float: left;
	}
	.nav-next{
		float: right;
	}
}